<form action="/Furama?action=add" method="post" class="p-5  shadow w-50 container-fluid mt-3">
  <select class="form-select" aria-label="Default select example" name="code" id="selectService" onchange="displayInput()">
    <option selected value="none">Loại dịch vụ</option>
    <option value="1">Villa</option>
    <option value="2">Room</option>
    <option value="3">House</option>
  </select>

  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Tên:</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  </div>
  <div class="mb-3 mt-3">
    <label for="area" class="form-label">Diện tích:</label>
    <input type="number" class="form-control" id="area" placeholder="Enter area" name="area">
  </div>
  <div class="mb-3 mt-3">
    <label for="cost" class="form-label">Chi phí thuê:</label>
    <input type="number" class="form-control" id="cost" placeholder="Enter cost" name="cost">
  </div>
  <div class="mb-3 mt-3">
    <label for="maxPeople" class="form-label">Số người tối đa:</label>
    <input type="number" class="form-control" id="maxPeople" placeholder="Enter maxPeople" name="maxPeople">
  </div>
  <div class="mb-3 mt-3">
    <label for="rentTypId" class="form-label">Kiểu thuê:</label>
    <input type="number" class="form-control" id="rentTypId" placeholder="Enter rentTypId" name="rentTypId">
  </div>

  <div class="mb-3 mt-3" style="display: none" id="divStandardRoom">
    <label for="standardRoom" class="form-label">tiêu chuẩn phòng:</label>
    <input type="text" class="form-control" id="standardRoom" placeholder="Enter standardRoom" name="standardRoom">
  </div>
  <div class="mb-3 mt-3" style="display: none" id="divDescriptionOtherConvenience">
    <label for="descriptionOtherConvenience" class="form-label">mô tả tiện nghi khác:</label>
    <input type="text" class="form-control" id="descriptionOtherConvenience"
           placeholder="Enter descriptionOtherConvenience" name="descriptionOtherConvenience">
  </div>
  <div class="mb-3 mt-3" style="display: none" id="divPoolArea">
    <label for="poolArea" class="form-label">Diện tích hồ bơi:</label>
    <input type="number" class="form-control" id="poolArea" placeholder="Enter poolArea" name="poolArea">
  </div>

  <div class="mb-3 mt-3" style="display: none" id="divNumberOfFloors">
    <label for="numberOfFloors" class="form-label">Số tầng:</label>
    <input type="number" class="form-control" id="numberOfFloors" placeholder="Enter numberOfFloors" name="numberOfFloors">
  </div>

  <div class="mb-3 mt-3" style="display: none" id="divFacilityFree">
    <label for="facilityFree" class="form-label">Dịch vụ miễn phí đi kem:</label>
    <input type="text" class="form-control" id="facilityFree" placeholder="Enter facilityFree" name="facilityFree">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <p>fdsfdsfdsfdsf</p>

  <c:if test="${mess!=null}">
    <p>${mess}</p>
  </c:if>
</form>

