<button [routerLink]="['/facility/create']" class="btn bg-info">Thêm mới</button>
<table class="table table-dark table-striped">
  <tr>
    <th>STT</th>
    <th>Mã dịch vụ</th>
    <th>Tên dịch vụ</th>
    <th>Diện tích</th>
    <th>Chi phí thuê</th>
    <th>Số người tối đa</th>
    <%--        <th>mã kiểu thuê</th>--%>
    <%--        <th>Mã loại dịch vụ</th>--%>
    <th>Tiêu chuẩn phòng</th>
    <th>Mô tả tiện nghi khác</th>
    <th>Diện tích hồ bơi</th>
    <th>Số tầng</th>
    <th>Dịch vụ miễn phí đi kèm</th>
    <th colspan="2">Các chức năng</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
</table>
