<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lawride Lawyer - Services</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/Magnific-Popup/magnific-popup.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container-fluid">
<form action="/facility/saveFacility" method="post" >
    <select class="form-select" aria-label="Default select example" name="code" id="selectService" onchange="displayInput()">
        <option selected value="none">Loại dịch vụ</option>
        <option value="1">Villa</option>
        <option value="2">Room</option>
        <option value="3">House</option>
    </select>
<!--    <div class="form-outline mb-4">-->
<!--        <select class="form-select" aria-label="Default select example"-->
<!--                id="selectService" th:field="*{facilityType}" onchange="displayInput()">-->
<!--            <option value="0" selected>Loại dịch vụ</option>-->
<!--            <option th:each="facType : ${facilityType}"-->
<!--                    th:value="${facType.id}"-->
<!--                    th:text="${facType.name}"></option>-->
<!--        </select>-->
<!--    </div>-->

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">Tên dịch vụ</label>
                <input type="text" id="form6Example1" class="form-control"  />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">Số lượng người tối đa</label>
                <input type="text" id="form6Example2" class="form-control"  />
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Diện tích sử dụng</label>
        <input type="text" id="form6Example3" class="form-control"  />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Chi phí thuê</label>
        <input type="text" id="form6Example4" class="form-control"  />
    </div>

<!--    <div class="form-outline mb-4">-->
<!--        <select class="form-select" aria-label="Default select example"-->
<!--                th:field="*{rentType}">-->
<!--            <option value="0" selected>Kiểu thuê</option>-->
<!--            <option th:each="rent : ${rentType}"-->
<!--                    th:value="${rent.id}"-->
<!--                    th:text="${rent.name}"></option>-->
<!--        </select>-->
<!--    </div>-->

    <div class="form-outline mb-4" id="divStandardRoom">
        <label class="form-label" for="standardRoom">Tiêu chuẩn phòng</label>
        <input type="text" id="standardRoom" class="form-control"/>
    </div>
    <div class="form-outline mb-4" id="divDescriptionOtherConvenience">
        <label class="form-label" for="descriptionOtherConvenience">Mô tả tiện nghi khác</label>
        <input type="text" id="descriptionOtherConvenience" class="form-control" />
    </div>
    <div class="form-outline mb-4" id="divPoolArea">
        <label class="form-label" for="poolArea">Diện tích hồ bơi</label>
        <input type="text" id="poolArea" class="form-control"/>
    </div>
    <div class="form-outline mb-4" id="divNumberOfFloors">
        <label class="form-label" for="numberOfFloors">Số tầng</label>
        <input type="text" id="numberOfFloors" class="form-control" />
    </div>
    <div class="form-outline mb-4" id="divFacilityFree">
        <label class="form-label" for="facilityFree">Dịch vụ miễn phí đi kèm</label>
        <input type="text" id="facilityFree" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Lưu</button>
</form>
</div>
</div>

<script>
    function displayInput() {
        let value = document.getElementById("selectService").value;
        let standardRoom = document.getElementById("divStandardRoom");
        let descriptionOtherConvenience = document.getElementById("divDescriptionOtherConvenience");
        let poolArea = document.getElementById("divPoolArea");
        let numberOfFloors = document.getElementById("divNumberOfFloors");
        let facilityFree = document.getElementById("divFacilityFree");
        switch (value) {
            case "1":
                standardRoom.style.display = "block"
                descriptionOtherConvenience.style.display = "block"
                poolArea.style.display = "block"
                numberOfFloors.style.display = "block"
                facilityFree.style.display = "none"
                break;
            case "2":
                standardRoom.style.display = "none"
                descriptionOtherConvenience.style.display = "none"
                poolArea.style.display = "none"
                numberOfFloors.style.display = "none"
                facilityFree.style.display = "block"
                break;
            case "3":
                standardRoom.style.display = "block"
                descriptionOtherConvenience.style.display = "block"
                poolArea.style.display = "none"
                numberOfFloors.style.display = "block"
                facilityFree.style.display = "none"
                break;
            case "none":
                standardRoom.style.display = "none"
                descriptionOtherConvenience.style.display = "none"
                poolArea.style.display = "none"
                numberOfFloors.style.display = "none"
                facilityFree.style.display = "none"
                break;
        }
    }
</script>
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
<script src="../js/jquery.ajaxchimp.min.js"></script>
<script src="../js/mail-script.js"></script>
<script src="../js/main.js"></script>
</body>
</html>